<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 bg-white">
    <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">A better way to send money.</h2>
        <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
            <div>
                <div
                     class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                    <x-icon-lightning class="w-6 h-6" />
                </div>
                <div class="mt-5">
                    <dt class="text-lg font-medium leading-6 text-gray-900">
                        Zero External Dependencies
                    </dt>
                    <dd class="mt-2 text-base text-gray-500">
                        The core library has zero external dependencies to keep things simple and
                        fast.
                    </dd>
                </div>
            </div>

            <div>
                <div
                     class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                    <x-icon-plugin class="w-6 h-6" />
                </div>
                <div class="mt-5">
                    <dt class="text-lg font-medium leading-6 text-gray-900">
                        Robust Plugin Library
                    </dt>
                    <dd class="mt-2 text-base text-gray-500">
                        Add powerful plugins to add functionality to your apps in a simple way.
                    </dd>
                </div>
            </div>

            <div>
                <div
                     class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
                    <x-icon-academic class="w-6 h-6" />
                </div>
                <div class="mt-5">
                    <dt class="text-lg font-medium leading-6 text-gray-900">
                        Extensive Documentation
                    </dt>
                    <dd class="mt-2 text-base text-gray-500">
                        Oak has extensive documentation and learning materials for new and advanced
                        users.
                    </dd>
                </div>
            </div>
        </dl>
    </div>
</div>